<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aiyakeji.mytest">

    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA"/>

    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <application
        android:name=".system.App"
        android:allowAudioPlaybackCapture="true"
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ui.MainActivity"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".ui.CoordinatorActivity" />
        <activity android:name=".ui.AnimatorActivity" />
        <activity android:name=".ui.CircleProgressActivity" />
        <activity
            android:name=".ui.HuaWeiClockActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.HorizontalScrollSelectorActivity" />
        <activity android:name=".ui.GestureUnlockActivity" />
        <activity android:name=".ui.RotatePlateActivity" />
        <activity android:name=".ui.UniversalAdapterActivity" />
        <activity android:name=".ui.SlidingCardActivity" />
        <activity android:name=".ui.WavedCircleActivity" />
        <activity android:name=".ui.LunBoTuActivity" />
        <activity android:name=".ui.VoiceShakeActivity" />
        <activity android:name=".ui.MaterialTestActivity" />
        <activity android:name=".ui.MaterialTestBActivity" />
        <activity android:name=".ui.AnnotationTestActivity" />
        <activity android:name=".ui.ProxyTestActivity" />
        <activity android:name=".ui.CalendarActivity" />
        <activity android:name=".ui.CalendarListActivity" />
        <activity android:name=".ui.FootViewActivity" />
        <activity android:name=".ui.MaxHeightLayoutActivity" />
        <activity android:name=".ui.LabelActivity" />
        <activity android:name=".ui.MarqueeActivity" />
        <activity android:name=".ui.PermissionRequestActivity" />
        <activity android:name=".ui.SideBarActivity" />
        <activity android:name=".ui.StepSlideActivity" />
        <activity android:name=".ui.ShadowLayoutTestActivity" />
        <activity android:name=".ui.HorizontalScrollTestActivity" />
        <activity android:name=".ui.BottomSheetActivity" />
        <activity android:name=".ui.SnapHelperActivity" />
        <activity android:name=".ui.RewardProgressActivity" />
        <activity android:name=".ui.BrowsePictureActivity" />
        <activity android:name=".ui.BrowsePictureTestActivity" />
        <activity android:name=".ui.NineViewActivity" />
        <activity android:name=".ui.WebActivity" />
        <activity android:name=".ui.ParticleActivity" />
        <activity android:name=".ui.HackerActivity" />
        <activity android:name=".ui.MagnifierActivity" />
        <activity android:name=".ui.VolumeViewActivity" />
        <activity android:name=".ui.AudioPlaybackCaptureActivity" />
        <activity android:name=".ui.WallpaperActivity" />
        <activity android:name=".ui.EmojiViewActivity"/>
        <activity android:name=".ui.WaveProgressActivity"/>
        <activity android:name=".ui.CameraXActivity"/>
        <activity android:name=".ui.USBCameraActivity"/>
        <activity android:name=".ui.PieCharActivity"/>
        <activity android:name=".ui.BehaviorActivity"/>
        <activity android:name=".ui.FaceDetectActivity"/>


        <service
            android:name=".wallpaper.VideoWallpaperService"
            android:exported="true"
            android:label="Wallpaper"
            android:permission="android.permission.BIND_WALLPAPER">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>

            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/my_wallpaper" />
        </service>
        <service
            android:name=".wallpaper.CameraWallpaperService"
            android:exported="true"
            android:label="Wallpaper"
            android:permission="android.permission.BIND_WALLPAPER">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>

            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/my_wallpaper" />
        </service>
        <service
            android:name=".wallpaper.DrawWallpaperService"
            android:exported="true"
            android:label="Wallpaper"
            android:permission="android.permission.BIND_WALLPAPER">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>

            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/my_wallpaper" />
        </service>
    </application>

</manifest>